<style>
    body {
        font-family: Arial, sans-serif;
        background: #f1faee;
        text-align: center;
        padding: 40px;
    }

    h1 {
        color: #6a994e;
    }

    h2 {
        color: #386641;
    }

    p {
        font-size: 18px;
    }

    img {
        width: 300px;
        height: auto;
        margin: 20px 0;
        border-radius: 8px;
    }
</style>

<h1>{{title}}</h1>
<h2>Hambúrguer</h2>
<p>Bem vindo a  {{title}}</p>

<img src="/images/hamburguer.jpeg" alt="Hamburguer">
<p>O hambúrguer é um lanche clássico e saboroso, ideal para quem ama comida rápida e suculenta!</p>