<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <style>
body{
background-color:#0f0f0f;
font-family:Arial, sans-serif;
text-align:center;
margin-top:120px;
}

h1{
color:#ff00c8;
}

p{
color:#b84dff;
}

a{
color:#ff66ff;
text-decoration:none;
}

a:hover{
color:#ffffff;
}
</style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo a: <%= title %></p>
    <p>Entre e descubra novas músicas</p>
  </body>
</html>
